*.html
*.nb.html
~$exemplos-cointegracao-qual3_rent32.xlsx
cointegracao_qual3_rent3_cache
cointegracao_qual3_rent3_files
*.zip
cointegracao_em_R_cache
cointegracao_em_R_files
draft_cointegracao_qual3_rent3_files
draft_cointegracao_qual3_rent3.md
